.crop-content {
    display: flex;
    justify-content: space-evenly;
}

.cropdetails {
    margin-left: 25px;
}

/* ---------- RESPONSIVE FIX (ONLY NEW CODE) ---------- */
@media (max-width: 746px) {
    .crop-content {
        flex-direction: column;
        margin: 20px;
    }

    .cropdetails {
        margin-left: 0;
        margin-top: 15px;
    }
}
