body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.animal-details{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  overflow-y: scroll;
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  height: 200px;
  width: 600px;
}

.video-container iframe{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  height: 300px;
  width: 500px;
}

.animal-image {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.animal-name {
  color: #007bff;
}
.animaldetails{
  margin-left: 20px;
}